.trendingCardMainCointainer{
    /* border: 2px solid blue;  */
    border-radius: 2px;
    width:200%;
    display: flex;
    height: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    overflow-x: scroll; 
    white-space: nowrap; /* Prevent content wrapping */
    gap: 10px; /* Optional: Adds spacing between cards */
    
}
/* Mobile view */
@media (max-width: 600px) {
    .trendingCardMainCointainer {
        flex-direction: column; /* Stack items vertically */
        padding: 10px;
        margin-left: auto;
       

    }
  }

.CardMainCointainer{
    /* border: 2px solid white;  */
    border-radius: 10px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
       
}

.CardMainCointainer img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.CardMainCointainer h2{
    width: 100;
    height: 10%;
    margin-top: 10px;
    margin: auto;
    font-size: 1.2rem;
    flex: auto;
    flex-wrap: wrap;
}

.CardMainCointainer p{
    width: 100;
    height: 10%;
    margin-top: 2px;
    margin: auto;
    font-size: 1.2rem;
    flex: auto;
    flex-wrap: wrap;

}


