/* General navbar styling */
.navbar {
    display: flex;
    padding: 20px;
    max-width: 99vw;
    height: 20%;
    margin-left: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #181818; /* Dark background */
    color: white; /* Text color */
    font-family: Arial, sans-serif;
    /* border: 2px solid red; */
  }


/* Mobile view */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column; /* Stack items vertically */
      padding: 10px;
  }
}
  
  /* Left section styling */
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 60px; /* Adjust logo size */
    border-radius: 50px;
    height: auto;
    margin-right: 10px;
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

 
  .navbar-appname {
    font-size: 18px;
    margin-right: 20px;
    color: #676768;
  }
  


  .navbar-homebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #252222;
    border-radius: 50%; /* Makes the button circular */
    cursor: pointer;
  }
  
  .home-icon {
    width: 25px; /* Adjust icon size */
    height: 25px;
    object-fit: contain; /* Keeps the aspect ratio intact */
  }

  .navbar-homebutton:hover {
    background-color: #d9e4f5; /* Changes background color on hover */
    transform: scale(1.1); /* Slightly enlarges the button */
  }
  


  

  
  /* Middle section styling */
  .navbar-middle {
    color: gold;
    flex-grow: 1;
    text-align: center;
    
  }
  
  .navbar-search {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    height: 20px;
    background-color: rgb(63, 62, 62);
  }
  
  /* Right section styling */
  .navbar-right {
    display: flex;
    align-items: center;
  }
  .navbar-logo1 {
    width: 60px; /* Adjust logo size */
    border-radius: 50px;
    height: auto;
    margin-right: 10px;
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
    .navbar-button{
    background-color: transparent;
    border: 1px solid white;
    color: rgb(172, 169, 169);
    padding: 2px 10px; 
    margin-right: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    height: 40px;
    justify-content: center;
    align-items: center;
  } 

  .navbar-button:hover {
    background-color: #d9e4f5; /* Changes background color on hover */
    transform: scale(1.1); /* Slightly enlarges the button */
  }
  
  .navbar-signup {
    background-color: #6018b3; /* Green background for Sign Up */
    color: white;
  }
  
  .navbar-signup:hover {
    background-color: #45a049; /* Slightly darker green on hover */
  }